// メインSCSSファイル - すべてのスタイルをここでまとめます
@import "reset";
@import "variables";
@import "functions";
@import "mixins";

// 4. その他のスタイル（必要に応じて追加）
html {
    // Flash Of Unstyled Text
    // visibility: hidden;
    // opacity: 0;

    // スクロールのスムーズな動き
    scroll-behavior: smooth;
    // &.wf-active,
    // &.loading-delay {
    //     visibility: visible;
    //     opacity: 1;
    // }
    body {
        background-color: #f0f0f0;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 400;
        font-style: normal;
        main {
            padding-top: 0;
        }
    }
}
