// メインSCSSファイル - すべてのスタイルをここでまとめます
@import "reset";
@import "variables";
@import "functions";
@import "mixins";

// 4. その他のスタイル（必要に応じて追加）
html {
    width: 100vw;
    overflow-x: hidden;
    // Flash Of Unstyled Text
    // visibility: hidden;
    // opacity: 0;

    // スクロールのスムーズな動き
    scroll-behavior: smooth;
    // &.wf-active,
    // &.loading-delay {
    //     visibility: visible;
    //     opacity: 1;
    // }
    body {
        background-color: $base_1;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 100vw;
        overflow-x: hidden;
        main {
            width: 100%;
            padding-top: 0;
        }
        .page-wrapper {
            position: relative;
        }
    }
}
