---
// コンポーネント
import PageLayout from "../layouts/PageLayout.astro";
import PageBottomWave from "../components/common/PageBottomWave.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro";
import PageTitle from "../components/common/PageTitle.astro";
---

<PageLayout title="ページタイトル｜コッコ祭り 2025｜KOKKO Festival">
  <section class="page-wrapper template-page">
    <div class="template-page__header-wrapper">
      <PageTitle accent="タ" title="イトル" subtitle="SUBTITLE" />
    </div>

    <Breadcrumb currentPageTitle="ページタイトル" />
    <PageBottomWave />
  </section>

  <style lang="scss">
    @import "../styles/variables";
    @import "../styles/functions";
    @import "../styles/mixins";

    .template-page {
      padding-top: spx(296);
      position: relative;
      min-height: 90vh;
      padding-bottom: spx(99);
      @include tablet-up {
        padding-top: ppx(253 * 1.2);
        padding-bottom: ppx(228 * 1.2);
      }
      @include desktop-up {
        padding-top: ppx(253);
        padding-bottom: ppx(228);
      }

      &__header-wrapper {
        padding-bottom: spx(100);
        @include tablet-up {
          padding-bottom: ppx(130 * 1.2);
        }
        @include desktop-up {
          padding-bottom: ppx(130);
        }
      }
    }
  </style>
</PageLayout>
