---
// メインSCSSファイルをインポート
import "../styles/main.scss";
// Swiper CSS
import "swiper/swiper-bundle.css";

// 画像
import cloudImage from "../images/top/hero-cloud.svg";

// コンポーネント
import Hero from "../components/top/Hero.astro";
import Concept from "../components/top/Concept.astro";
import News from "../components/top/News.astro";
import Category from "../components/top/Category.astro";
import Overview from "../components/top/Overview.astro";
import Footer from "../components/common/Footer.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;900&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div class="">
        <img src="" alt="menuを開く" />
      </div>
      <div class="">
        <img class="cloud-1" src={cloudImage.src} alt="雲のイメージ" />
        <img class="cloud-2" src={cloudImage.src} alt="雲のイメージ" />
        <img class="cloud-3" src={cloudImage.src} alt="雲のイメージ" />
        <img src="" alt="風船に乗った子どものイラスト" />
        <div class="">
          <img src="" alt="menuを閉じる" />
        </div>
        <div>
          <div>
            <a href="#">
              <img src="" alt="コッコ祭りロゴ" />
            </a>
            <div class="">
              <div class="">2025.12.7</div>
              <div class="">（土）12:00〜23:00</div>
              <div class="">/ 8</div>
              <div class="">（日）9:00〜15:00</div>
            </div>
          </div>
          <div class="">
            <ul>
              <li>
                <a href="#">
                  <div class="">
                    <span>トップ</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>遊ぶ</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>食べる</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>作る</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>見る</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>泊まる</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>イベント情報</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>アクセス</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="">
                    <span>お問い合わせ</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 56 56"
                      fill="none"
                    >
                      <circle cx="28" cy="28" r="28" fill="#C99E2D"></circle>
                      <path
                        d="M23.1328 18.2559L22.1014 19.7598L21.1686 21.2894L22.7216 22.3003L24.3094 23.3447L25.8763 24.4145L27.4641 25.459L29.0972 26.4304L30.721 27.5369L29.0081 28.5094L27.4642 29.6429L25.8575 30.665L24.2539 31.7046L22.6692 32.7696L20.9957 33.782L22.1032 35.2908L23.0343 36.9102L24.5928 35.7561L26.1884 34.7324L27.853 33.8154L29.3575 32.642L31.0032 31.6995L32.591 30.6519L34.1582 29.59L35.779 28.587L37.3573 27.5267L35.7289 26.5617L34.2249 25.4157L32.5739 24.4872L31.0763 23.3365L29.4108 22.4286L27.8695 21.3398L26.3155 20.2605L24.7081 19.2701L23.1328 18.2559Z"
                        fill="#FFFCF2"></path>
                    </svg>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- hero -->
      <Hero />
      <!-- concept -->
      <Concept />
      <!-- news -->
      <News />
      <!-- category -->
      <Category />
      <!-- overview -->
      <Overview />
      <!-- footer -->
      <Footer />
    </main>
  </body>
</html>

<style lang="scss">
  /* 必要なmixin/functionをインポート */
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";
</style>
