---
// コンポーネント
import TopPageLayout from "../layouts/TopPageLayout.astro";
import MenuToggle from "../components/common/MenuToggle.astro";
import Menu from "../components/common/Menu.astro";
import Hero from "../components/top/Hero.astro";
import Concept from "../components/top/Concept.astro";
import News from "../components/top/News.astro";
import Category from "../components/top/Category.astro";
import Overview from "../components/top/Overview.astro";
import Footer from "../components/common/Footer.astro";
---

<TopPageLayout
  title="コッコ祭り 2025｜KOKKO Festival"
  description="河口湖町西湖で開催されるコッコ祭り2025。家族で楽しめるグルメ、工作体験、伝統芸能ショーなど盛りだくさん。山梨の自然の中で特別な一日を。アクセス・宿泊情報も掲載。"
>
  <main>
    <MenuToggle />
    <Menu />
    <!-- hero -->
    <Hero />
    <!-- concept -->
    <Concept />
    <!-- news -->
    <News />
    <!-- category -->
    <Category />
    <!-- overview -->
    <Overview />
    <!-- footer -->
    <Footer />
  </main>
</TopPageLayout>

<style lang="scss">
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";

  main {
    position: relative;
  }
</style>
