---
// メインSCSSファイルをインポート
import "../styles/main.scss";

// 画像

// コンポーネント
import MenuToggle from "../components/common/MenuToggle.astro";
import Menu from "../components/common/Menu.astro";
import Footer from "../components/common/Footer.astro";
import PageHeader from "../components/common/PageHeader.astro";
import PageBottomWave from "../components/common/PageBottomWave.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- noindex -->
    <meta name="robots" content="noindex" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;900&display=swap"
      rel="stylesheet"
    />
    <title>見る - コッコ祭り</title>
  </head>
  <body>
    <main>
      <MenuToggle />
      <Menu />
      <PageHeader />
      <!-- 404 error content -->
      <section class="page-wrapper error-404">
        <PageBottomWave />
      </section>
      <!-- footer -->
      <Footer />
    </main>
  </body>
</html>

<style lang="scss">
  /* 必要なmixin/functionをインポート */
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";

  body {
    &.menu-open {
      overflow: hidden;
    }
  }

  main {
    position: relative;
  }

  .error-404 {
    position: relative;
    height: 90svh;
    display: grid;
    place-items: center;
    @include tablet-up {
    }
    @include desktop-up {
    }

    &__container {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__title {
      color: var(--base_5, #102a4d);
      font-size: spx(70);
      font-weight: 700;
      line-height: 130%;
      text-align: center;
      @include tablet-up {
        font-size: tpx(110);
      }
      @include desktop-up {
        font-size: ppx(110);
      }
      span {
        color: var(--base_5, #c99e2d);
      }
    }

    &__message {
      color: var(--base_5, #102a4d);
      text-align: center;
      font-size: spx(28);
      font-weight: 700;
      line-height: 180%;
      margin: spx(30) 0 spx(18);
      @include tablet-up {
        font-size: tpx(33);
        margin: tpx(40) 0 tpx(40);
      }
      @include desktop-up {
        font-size: ppx(33);
        margin: ppx(44) 0 ppx(36);
      }
    }

    &__timer {
      color: var(--base_5, #102a4d);
      text-align: center;
      font-size: spx(26);
      font-weight: 700;
      line-height: 180%;
      @include tablet-up {
        font-size: tpx(33);
      }
      @include desktop-up {
        font-size: ppx(33);
      }
    }

    &__countdown {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }
  }
</style>
