---
// コンポーネント
import PageLayout from "../../layouts/PageLayout.astro";
import PageBottomWave from "../../components/common/PageBottomWave.astro";
import Breadcrumb from "../../components/common/Breadcrumb.astro";
---

<PageLayout title="お知らせ一覧 ｜コッコ祭り 2025｜KOKKO Festival">
  <!-- news list content -->
  <section class="page-wrapper news-list">
    <div class="news-list__container">
      <header class="news-list__header">
        <h1 class="news-list__title">
          <span class="news-list__title-accent">お</span>
          知らせ
        </h1>
        <p class="news-list__subtitle">− NEWS −</p>
      </header>
      <div class="">
        <div>
          <div class="">
            <span>すべて</span>
          </div>
          <div class="">
            <span>重要</span>
          </div>
          <div class="">
            <span>イベント情報</span>
          </div>
          <div class="">
            <span>募集</span>
          </div>
          <div class="">
            <span>その他</span>
          </div>
        </div>
      </div>
      <div class="">
        <ul>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <div class="">2025/08/19</div>
                <div class="">
                  <span>イベント情報</span>
                </div>
              </div>
              <div class="">今年の特別企画「伝統工芸体験コーナー」について</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="">
        <div><div class="">＜</div></div>
        <div><div class="">1</div></div>
        <div><div class="">2</div></div>
        <div><div class="">3</div></div>
        <div><div class="">4</div></div>
        <div><div class="">5</div></div>
        <div><div class="">＞</div></div>
      </div>
      <!-- ここにお知らせ一覧のマークアップを追加 -->
    </div>
    <Breadcrumb currentPageTitle="お知らせ" />
    <PageBottomWave />
  </section>
</PageLayout>

<script>
  // お知らせ一覧ページのJavaScript
  document.addEventListener("DOMContentLoaded", () => {
    // フィルター機能やページネーション機能をここに追加
  });
</script>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/functions";
  @import "../../styles/mixins";

  .news-list {
    padding-top: spx(296);
    position: relative;
    min-height: 90vh;
    padding-bottom: spx(99);
    @include tablet-up {
      padding-top: ppx(253 * 1.2);
      padding-bottom: ppx(228 * 1.2);
    }
    @include desktop-up {
      padding-top: ppx(253);
      padding-bottom: ppx(228);
    }

    &__container {
      padding-bottom: spx(100);
      @include tablet-up {
        padding-bottom: ppx(130 * 1.2);
      }
      @include desktop-up {
        padding-bottom: ppx(130);
      }
    }

    &__header {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__title {
      color: var(--base_5, #102a4d);
      font-size: spx(60);
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-align: center;
      @include tablet-up {
        font-size: ppx(110 * 1.2);
      }
      @include desktop-up {
        font-size: ppx(110);
      }

      &-accent {
        color: var(--logo_color_3, #c99e2d);
        @include tablet-up {
        }
        @include desktop-up {
        }
      }
    }

    &__subtitle {
      color: var(--base_5, #102a4d);
      text-align: center;
      font-size: spx(26);
      font-style: normal;
      font-weight: 700;
      line-height: 180%;
      @include tablet-up {
        font-size: ppx(37 * 1.2);
      }
      @include desktop-up {
        font-size: ppx(37);
      }
    }
  }
</style>
