---
import newsHeadMobile from "../../images/top/news-head-mobile.svg";
import newsHeadTabletUp from "../../images/top/news-head-tablet-up.svg";
import NewsArticleList from "../common/NewsArticleList.astro";
---

<section class="news">
  <picture class="news__head-image">
    <source
      media="(min-width: 1024px)"
      srcset={newsHeadTabletUp.src.toString()}
    />
    <source
      media="(min-width: 744px)"
      srcset={newsHeadTabletUp.src.toString()}
    />
    <img src={newsHeadMobile.src} alt="kokko festival" class="news__head-img" />
  </picture>
  <div class="news__container">
    <header>
      <h2 class="news__title">
        <span>お知らせ・最新情報</span>
      </h2>
    </header>
    <div class="news__list-wrapper">
      <NewsArticleList limit={3} className="news-articles__list" />
    </div>
  </div>
</section>

<style lang="scss">
  /* 必要なmixin/functionをインポート */
  @import "../../styles/variables";
  @import "../../styles/functions";
  @import "../../styles/mixins";

  .news {
    background-color: white;
    position: relative;
    padding-top: 37.8vw;
    @include tablet-up {
      padding-top: 19.2vw;
    }
    @include desktop-up {
      padding-top: 19.2vw;
    }
    &__head-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include tablet-up {
      }
      @include desktop-up {
      }
    }
    &__head-img {
      display: block;
      width: 100%;
      @include tablet-up {
      }
      @include desktop-up {
      }
    }
    &__container {
      background: var(--base_2, #fcf2c9);
      padding-top: spx(40);
      padding-bottom: spx(60);
      @include tablet-up {
        padding-top: ppx(77) * 1.2;
        padding-bottom: ppx(191) * 1.2;
      }
      @include desktop-up {
        padding-top: ppx(77);
        padding-bottom: ppx(191);
      }
    }
    &__title {
      width: spx(370);
      height: spx(74);
      display: grid;
      place-items: center;
      background-color: white;
      border-radius: spx(50);
      margin-inline: auto;
      @include tablet-up {
        width: ppx(460) * 1.2;
        height: ppx(92) * 1.2;
        border-radius: ppx(50) * 1.2;
      }
      @include desktop-up {
        width: ppx(460);
        height: ppx(92);
        border-radius: ppx(50);
      }
      span {
        color: var(--base_5, #102a4d);
        font-size: spx(30);
        font-weight: 700;
        line-height: 180%;
        @include tablet-up {
          font-size: ppx(40) * 1.2;
        }
        @include desktop-up {
          font-size: ppx(40);
        }
      }
    }
    &__list-wrapper {
      margin-top: spx(64);
      width: spx(560);
      margin-inline: auto;
      @include tablet-up {
        margin-top: ppx(134) * 1.2;
        width: ppx(1350) * 1.2;
      }
      @include desktop-up {
        margin-top: ppx(134);
        width: ppx(1350);
      }
    }
  }
</style>
