---
import menuOpenImage from "../../images/menu/menu-open.svg";
---

<button type="button" class="menu-toggle">
  <img class="menu-toggle__icon" src={menuOpenImage.src} alt="menuを開く" />
</button>
<style lang="scss">
  /* 必要なmixin/functionをインポート */
  @import "../../styles/variables";
  @import "../../styles/functions";
  @import "../../styles/mixins";

  .menu-toggle {
    position: fixed;
    top: spx(20);
    right: spx(20);
    z-index: 100;
    @include tablet-up {
      top: tpx(20);
      right: tpx(20);
    }
    @include desktop-up {
      top: ppx(30);
      right: ppx(49);
    }
    img {
      display: block;
      width: spx(130);
      height: spx(130);
      @include tablet-up {
        width: tpx(120);
        height: tpx(120);
      }
      @include desktop-up {
        width: ppx(149);
        height: ppx(149);
      }
    }

    &__icon {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }
  }
</style>
