---
const { accent, title, subtitle } = Astro.props;
---

<header class="lower-page__header">
  <h1 class="lower-page__title">
    <span class="lower-page__title-accent">{accent}</span>
    {title}
  </h1>
  <p class="lower-page__subtitle">− {subtitle} −</p>
</header>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/functions";
  @import "../../styles/mixins";

  .lower-page {
    &__header {
      @include tablet-up {
      }
      @include desktop-up {
        margin-top: 4vw;
      }
    }

    &__title {
      color: var(--base_5, #102a4d);
      font-size: spx(60);
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-align: center;
      @include tablet-up {
        font-size: ppx(110 * 1.2);
      }
      @include desktop-up {
        font-size: ppx(110);
      }

      &-accent {
        color: var(--logo_color_3, #c99e2d);
        letter-spacing: -0.2em;
        @include tablet-up {
        }
        @include desktop-up {
        }
      }
    }

    &__subtitle {
      color: var(--base_5, #102a4d);
      text-align: center;
      font-size: spx(26);
      font-style: normal;
      font-weight: 700;
      line-height: 180%;
      @include tablet-up {
        font-size: ppx(37 * 1.2);
      }
      @include desktop-up {
        font-size: ppx(37);
      }
    }
  }
</style>
