---
export interface Props {
  title: string;
}

const { title } = Astro.props;

// メインSCSSファイルをインポート
import "../styles/main.scss";

// 共通コンポーネント
import Loading from "../components/common/Loading.astro";
import Head from "../components/common/Head.astro";
import MenuToggle from "../components/common/MenuToggle.astro";
import Menu from "../components/common/Menu.astro";
import PageHeader from "../components/common/PageHeader.astro";
import PageBottomWave from "../components/common/PageBottomWave.astro";
import Footer from "../components/common/Footer.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <Head title={title} />
  <body>
    <Loading />
    <main>
      <MenuToggle />
      <Menu />
      <PageHeader />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style lang="scss">
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";

  body {
    &.menu-open {
      overflow: hidden;
    }
  }

  main {
    position: relative;
  }
</style>