---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

// メインSCSSファイルをインポート
import "../styles/main.scss";

// 共通コンポーネント
import Loading from "../components/common/Loading.astro";
import Head from "../components/common/Head.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <Head title={title} description={description} />
  <body>
    <Loading />
    <slot />
  </body>
</html>

<style lang="scss">
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";

  body {
    &.menu-open {
      overflow: hidden;
    }
  }
</style>